body {
    height: 100%;
    width: 99%;;
}

h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 72pt;
    color: #828F60;
}

div#selectionSpace {
    display:flex;
    flex-direction: row;
    /* margin-right:15px; */
    border-radius:5px;
    padding:10px;
}

.spacer {
    width:37.5%;
    background-color: slategray;
}

div#startSpace {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: slategray;
    height:25%;
    width:25%;
    padding:10px;
}

#wordLengthLabel {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14pt;
    font-weight:bold;
    color:aliceblue;
}
#board {
    display:flex;
    flex-direction: row;
    height:80%;
}
#workspace {
    display:flex;
    flex-direction: column;
    width:66%;

}

#gallows{
    width:33%;
    background-color: #61906E;
}

#wordBlank {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48pt;
    letter-spacing: 0.4em;
    text-align: center;
    height:40%;
    vertical-align: middle;
}

#lettersuseddiv {
    font-family:Arial, Helvetica, sans-serif;
    font-size:14pt;
    border: 3px solid slategray;
    border-radius: 5px;
    padding:10px;
    background-color: slategray;
    color:aliceblue;
    text-align: center;
}

#instructions {
    color:aliceblue;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 16pt;
    padding: 0;
}

#condition {
    height:40%;
}

#gallowspicture {
    width:100%;
}