body {
    height: 100%;
    width: 99%;;
}

h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 72pt;
    color: #828F60;
}

div#selectionSpace {
    display:flex;
    flex-direction: row;
    /* margin-right:15px; */
    /* border-radius:5px; */
    background-color: slategray;
    border-radius: 10px;
}

.spacer {
    width:37.5%;
    background-color: slategray;
    border-radius: 4px;
}

div#startSpace {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: slategray;
    height:25%;
    width:25%;
}

#wordLengthLabel {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16pt;
    font-weight:bold;
    color:aliceblue;
}
#board {
    display:flex;
    flex-direction: row;
    height:80%;
}
#workspace {
    display:flex;
    flex-direction: column;
    width:66%;
    
}

#gallows{
    width:33%;
    background-color: #61906E;
}

#wordBlank {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48pt;
    letter-spacing: 0.4em;
    text-align: center;
    height:40%;
    vertical-align: middle;
}

#lettersuseddiv {
    font-family:Arial, Helvetica, sans-serif;
    font-size:14pt;
    border: 3px solid slategray;
    border-radius: 5px;
    background-color: slategray;
    color:aliceblue;
    text-align: center;
}

#instructions {
    color:aliceblue;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 16pt;
}

#condition {
    height:30%;
}

#gallowspicture {
    width:100%;
}

#gamescore {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
}

#tableDiv {
    display: none;
    position: absolute;
    top: 5%;
    left: 25%;
    width: 50%;
    height: 90%;
    z-index: 99;
    background-color:#61906E;
    border:5px solid tan;
}

#currentScore {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    padding-top:0%;
    margin-top:1%;
}

#scoresTableHeader {
    text-align: center;
    padding-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color:aliceblue;
}

#scoresTable {
    width: 100%;
    height: 65%;
    border-spacing: 0px;
}

.scoreTableRow {
    height:5%;
    text-align: center;
    padding:0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    color:aliceblue;
    border:1px solid aliceblue;
}

#winner {
    color:aliceblue;
    margin: 0%; 
    padding: 0%;
}

.scoreTableCell {
    border:1px solid aliceblue;
}

#centeredButton {
    display:flex;
    justify-content: center;
    padding-top:10px;
    align-items: center;
    width:100%;
}

.rank {
    width: 10%;
}

.data {
    width: 45%;
}

#timer {
    font-family: Arial, Helvetica, sans-serif;
    font-size:36pt;
    text-align: center;
    vertical-align: middle;
    font-weight:bold;
    color:aliceblue;
    height:100%;
}